.footer {
  .footer-wrapper {
    position: relative;
    .footer_logo {
      font-size: 56px;
      font-weight: 400;
      line-height: 81px;
      letter-spacing: 0em;
      text-align: left;
      background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 60px;
    }
    .footer_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footer_left {
        .flex {
          display: flex;
          align-items: start;
          gap: 40px;
          p {
            background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 28px;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0em;
          }
          h3 {
            background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 20px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
          }
          .flex-2 {
            h3 {
              font-size: 18px;
              font-weight: 400;
              line-height: 26px;
              letter-spacing: 0em;
              text-align: left;
              color: white;
            }
          }
        }
      }
    }
    .imagess-right {
      width: 300px;
      padding-top: 20px;
    }
    .footer_btn {
      font-size: 50px;
      color: white;
      border: 1px solid #706780;
      background-color: black;
      position: absolute;
      width: 50px;
      border-radius: 5px;
      right: 0;
      height: 70px;
      top: 220px;
      cursor: pointer;
    }
  }
}

.footer_wrapper_2 {
  margin-top: 120px;
  border-top: 1px solid #dad6ca;
  padding-bottom: 10px;
  .footer_border_top {
    display: flex;
    // gap: 274px;
    align-items: center;  
    justify-content: space-between;

    padding-top: 12px;
    p {
      background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      // letter-spacing: 0em;
      // text-align: center;
      margin-top: 20px;
      margin-left: 50px;
    }
    img {
      width: 150px;
    }
    .program {
      display: flex;
      align-items: center;
      margin-right: 100px;
      gap: 30px;
      img {
        width: 24px;
      }
    }
  }
}




/*//////////////////////// media /////////////////////////// */

@media (max-width: 1279px) {
  .imagess-right {
    margin-right: 70px;
  }
  .footer_btn {
    margin-right: 70px;
  }



  @media (max-width: 870px) {
    .footer .footer-wrapper .imagess-right {
      display: none;
    }
     .flex {
      // display: flex;
      // justify-content: center;
      // margin-left: 200px;
    }
    .footer .footer-wrapper .footer_flex {
      display: flex;
      flex-wrap: wrap;
  }
  }
  .footer_border_top {
   
  }
}



@media (max-width: 811px) {
  .footer_wrapper_2 .footer_border_top {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 50px;
    // margin-left: 100px;


    display: grid;
    grid-template-columns: 1fr 1fr;
    // row-gap: 54px;
   
    justify-content: center;
  }
  .section__home_2 .section__home_wrapper .content__card {
    display: none;
  }
}



@media (max-width: 741px) {
  .section__home_4 .sc_4_wrapper .contact-content .rightContent {
    width: 480px;
  }
  .section__home_4 .sc_4_wrapper .contact-content .leftContent {
    margin-left: -19px;
  }
}



@media (max-width: 703px) {
  .section__home .section__home-wrapper .logo__par_home  {
    width: 100%;
    max-width: 600px;
  }
  .section__home_2 .section__home_wrapper .content__text .content_par {
    width: 100%;
    max-width: 600px;
  }
}



@media (max-width: 630px) {
  .section__home .section__home-wrapper .logo__par_home  {
    font-size: 18px;
  }
  .section__home_2 .section__home_wrapper .content__text .content_par {
    font-size: 18px;
  }
}



@media (max-width: 532px) {
  .section__home_4 .sc_4_wrapper .contact-content .rightContent {
    width: 380px;
  }
}



@media (max-width: 452px) {
  .section__home_4 .sc_4_wrapper .contact-content .leftContent {
    margin-left: -50px;
  }
  .section__home_4 .sc_4_wrapper .contact-content .rightContent {
    width: 300px;
  } 
  .section__home_4 .sc_4_wrapper .contact-content .rightContent button {
    width: 200px;
  }
}




@media (max-width: 396px) {
  .footer_wrapper_2 .footer_border_top p {
    margin-left: -10px;
  }
}


@media (max-width: 380px) {
  .footer .footer-wrapper .footer_btn {
    margin-right: 20px;
  }
}