.element-animation {
  opacity: 0;
  transform: translateY(0px);
}
.element-animation.element-show {
  opacity: 1;
  transition: all 1.9s;
  transform: translateY(0%);
}

.section__home {
  .section__home-wrapper {
    position: relative;
    padding-top: 100px;
    .img__bgc {
      position: absolute;
      top: 200px;
      right: 0;
    }
    .logo__text_home {
      font-size: 46px;
      text-shadow: 1px 1px 2px rgba(112, 103, 128, 0.6);
      font-weight: 100;
      line-height: 66px;
      letter-spacing: 0.01em;
      text-align: left;
      margin-top: 200px;
      background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .logo__par_home {
      font-size: 23px;
      font-weight: 100;
      line-height: 40px;
      letter-spacing: 100;
      letter-spacing: 0.04em;
      text-align: left;
      color: white;
      transition: 2s;
      margin-top: 20px;
      animation: text-in 2s ease-in-out;
    }
  }
}

.section__home_2 {
  width: 100%;
  max-width: 1300px;
  .section__home_wrapper {
    padding-top: 152px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content__text {
      .scHome_2_text {
        background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 46px;
        max-width: 425px;
        font-weight: 100;
        line-height: 66px;
        letter-spacing: 0em;
        margin-bottom: 20px;
        text-align: left;
      }
      .content_par {
        color: white;
        font-size: 22px;
        font-weight: 100;
        line-height: 39px;
        letter-spacing: 0.04em;
        max-width: 700px;
        text-align: left;
      }
    }
    .content__card {
      transition: transform 0.3s ease-in-out;
      width: 340px;
      padding-left: 16px;
      height: 404px;
      box-shadow: -1px 4px 7px 7px rgba(112, 103, 128, 0.3);
      border-radius: 10px;
      border: 1px solid #4b5563;
      .card_logo {
        color: white;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .card_text {
        color: white;
        font-size: 16px;
        font-weight: 100;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
      }
      .cardimg {
        width: 316px;
        margin-top: 10px;
      }
      .card_img_flex {
        margin-top: 15px;
        display: flex;
        align-items: center;
        img {
          width: 30px;
        }
      }
      .card__btn {
        border: none;
        margin-left: 10px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 17px;
        cursor: pointer;
        span {
          font-size: 20px;
        }
      }
    }
    .content__card:hover {
      transform: scale(1.05);
      box-shadow: -1px 4px 20px 7px rgba(219, 217, 223, 0.3);
    }
  }
}

.section__home_3 {
  .sc__home__wrapper {
    padding-top: 129px;
    .sc_2_logo {
      background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 46px;
      font-weight: 100;
      line-height: 66px;
      letter-spacing: 0em;
      text-align: left;
    }
    .sc_3_card_flex {
      display: flex;
      margin-top: 30px;
      gap: 120px;
      justify-content: center;
      // justify-content: space-between;
      .card_1 {
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
        box-shadow: -1px 4px 7px 7px rgba(112, 103, 128, 0.3);
        width: 340px;
        padding-left: 16px;
        height: 404px;
        border: 1px solid #4b5563;
        .card_logo {
          color: white;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: left;
          margin-top: 20px;
          margin-bottom: 10px;
        }
        .card_text {
          color: white;
          font-size: 16px;
          font-weight: 100;
          line-height: 23px;
          letter-spacing: 0em;
          text-align: left;
        }
        .cardimg {
          width: 316px;
          margin-top: 10px;
        }
        .card_img_flex {
          margin-top: 15px;
          display: flex;
          align-items: center;
          img {
            width: 30px;
          }
        }
        .card__btn {
          border: none;
          margin-left: 10px;
          background-color: black;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 17px;
          cursor: pointer;
          span {
            font-size: 20px;
          }
        }
      }
      .card_1:hover {
        transform: scale(1.05);
        box-shadow: -1px 4px 20px 7px rgba(219, 217, 223, 0.3);
      }
    }
    .vse_Pro {
      transition: transform 0.2s ease-in-out;
      width: 145px;
      margin-top: 30px;
      height: 49px;
      border-radius: 5px;
      border: 1px solid #dad6ca;
      font-size: 19px;
      font-weight: 100;
      line-height: 29px;
      background-color: black;
      color: white;
      cursor: pointer;
    }
    .vse-Pro:hover {
      transform: scale(1.05);
      box-shadow: -1px 4px 20px 7px rgba(219, 217, 223, 0.3);
    }
  }
}

.section__home_4 {
  .sc_4_wrapper {
    .contact-content {
      display: flex;
      justify-content: center;
      gap: 320px;
      padding-top: 100px;
      .leftContent {
        h1 {
          background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 46px;
          font-style: normal;
          font-weight: 100;
          margin-bottom: 20px;
          line-height: normal;
        }
        p {
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 100;
          line-height: 26px;
        }
        .icons {
          display: flex;
          flex-direction: column;
          width: 40px;
          height: 40px;
          gap: 30px;
          margin-top: 2rem;
        }
        .iconFlex {
          display: flex;
          align-items: center;
          gap: 20px;
          width: 150px;
        }
      }
      .rightContent {
        display: flex;
        width: 548px;
        height: 500px;
        padding: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1px solid #dad6ca;
        margin-top: 50px;
        box-shadow: -1px 2px 7px 7px rgba(112, 103, 128, 0.4);
        input {
          background-color: transparent;
          border: 0;
          border-bottom: 2px #dad6ca solid !important;
          display: block;
          width: 100%;
          padding: 15px 0;
          font-size: 18px;
          outline: none;
          color: #fff;
        }
        input::placeholder {
          display: flex;
          width: 450px;
          height: 50px;
          padding: 6px 8px;
          align-items: center;
          gap: 10px;
          flex-shrink: 0;
        }
        input:hover::placeholder {
          color: #4b5563 !important;
          transition: 0.9s;
        }
        button {
          border: none;
          position: relative;
          width: 450px;
          height: 50px;
          border-radius: 5px;
          border: 1px solid #4b5563;
          padding: 0;
          color: #4b5563;
          font-size: 19px;
          font-weight: 200;
          z-index: 2;
          background-color: black;
          cursor: pointer;
          transition: all 0.3s;
          box-shadow: -1px 2px 15px 4px rgba(112, 103, 128, 0.3);
        }
      }
    }
  }
}

.section__home_5 {
  .sc_5_wrapper {
    padding-top: 207px;
    .home_5_logo {
      background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 90px;
      font-size: 46px;
      font-weight: 700;
      line-height: 66px;
      letter-spacing: 0em;
      text-align: left;
    }
    .sc_5_map {
      display: flex;
      justify-content: center;
      gap: 80px;
      .flexComands {
        border-radius: 10px;
        border: 1px solid #4b5563;
        display: inline-flex;
        height: 478px;
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        max-width: 370px;
        box-shadow: -1px 4px 20px 7px rgba(112, 103, 128, 0.3);
        height: 478px;
        h2 {
          color: #fff;
          font-family: "Istok Web" sans-serif;
          font-size: 20px;
          background: linear-gradient(to right, #dad6ca 0%, #706780 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          width: 330px;
        }
        p {
          color: #d1d5db;
          font-family: "Istok Web" sans-serif;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .imges {
          width: 30px;
          border-radius: 30px;
        }
        .icons {
          display: inline-flex;
          align-items: flex-start;
          gap: 5px;
          width: 340px;
        }
        .imgSyimyk {
          width: 350px;
          height: 300px;
          border-radius: 10px;
        }
      }
      .flexComands:hover {
        box-shadow: 2px 1px 12px 5px rgba(90, 193, 233, 0.2);
      }
    }
  }
  .vse-dev {
    width: 197px;
    height: 49px;
    box-shadow: -1px 4px 20px 5px rgba(112, 103, 128, 0.6);
    border-radius: 5px;
    border: 1px solid #dad6ca;
    margin-top: 30px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background-color: black;
    cursor: pointer;
  }
}

.section__home_6 {
  .sc__6_wrapper {
    .contentimage {
      padding-top: 150px;
      img {
        margin-top: 3rem;
        margin-bottom: 2rem;
        max-width: 1300px;
        width: 100%;
      }
    }

    hr {
      width: 100%;
    }
  }
}

/*//////////////////////// media /////////////////////////// */

@media (max-width: 1279px) {
  .sc_3_card_flex {
    display: flex;
    flex-wrap: wrap;
  }
  .rightContent {
    margin-left: -70px;
  }
  .sc_5_map {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1240px) {
  .rightContent {
    margin-left: -120px;
  }
}

@media (max-width: 1191px) {
  .rightContent {
    margin-left: -160px;
  }
}

@media (max-width: 1156px) {
  .rightContent {
    width: 100px;
    // height: 100px;
  }
  // .flexComands {
  //   width: 100px;
  // }
}

@media (max-width: 1114px) {
  .section__home_4 .sc_4_wrapper .contact-content {
    display: flex;
    gap: 290px;
  }
  .section__home_4 .sc_4_wrapper .contact-content .rightContent {
    width: 450px;
  }
  .section__home_4 .sc_4_wrapper .contact-content .rightContent button {
    width: 350px;
  }
}

@media (max-width: 1037px) {
  .section__home_4 .sc_4_wrapper .contact-content {
    display: flex;
    gap: 240px;
  }
}

@media (max-width: 975px) {
  .section__home_4 .sc_4_wrapper .contact-content {
    display: flex;
    gap: 200px;
  }
}

@media (max-width: 975px) {
  .section__home_4 .sc_4_wrapper .contact-content {
    display: flex;
    justify-content: start;
    margin-left: 100px;
  }
}

@media (max-width: 930px) {
  .section__home_4 .sc_4_wrapper .contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .section__home_4 .sc_4_wrapper .contact-content .rightContent {
    width: 700px;
  }
  .section__home_4 .sc_4_wrapper .contact-content .leftContent {
    margin-left: -176px;
  }
}

@media (max-width: 916px) {
  .section__home_4 .sc_4_wrapper .contact-content .rightContent {
    margin-left: -90px;
  }
  .section__home_4 .sc_4_wrapper .contact-content .leftContent {
    width: 600px;
  }
}

@media (max-width: 803px) {
  .card_none {
    display: none;
  }
  .section__home_3 .sc__home__wrapper .sc_3_card_flex .card_1 {
    width: 500px;
  }
  .section__home_3
    .sc__home__wrapper
    .sc_3_card_flex
    .card_1
    .cardimg
    .card_images_alpins {
    width: 1000px;
  }
}

@media (max-width: 530px) {
  .section__home_3 .sc__home__wrapper .sc_3_card_flex .card_1 {
    width: 400px;
  }
}

@media (max-width: 444px) {
  .footer .footer-wrapper .footer_flex .footer_left .flex {
    display: flex;
    flex-wrap: wrap;
  }
  .footer_wrapper_2 .footer_border_top p {
    padding-top: 20px;
    padding-right: 10px;
  }
}

@media (max-width: 436px) {
  .section__home_3 .sc__home__wrapper .sc_3_card_flex .card_1 {
    width: 300px;
  }
  .section__home_3 .sc__home__wrapper .sc_3_card_flex .card_1 .cardimg {
    width: 250px;
  }
}

@media (max-width: 430px) {
  .section__home_5 .sc_5_wrapper .sc_5_map .flexComands {
    width: 320px;
    height: 540px;
  }
  .flexComands {
    .user__content {
      .avatar__user {
        width: 90% !important;
      }
      .user__name {
        font-size: 25px !important;
      }
      .text__user {
        font-size: 19px !important;
      }
      .flex__skill {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 30px;
        width: 70% !important;
        .img__content {
          display: flex;
          flex-wrap: wrap;
          .img__user__skill {
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .section__home_5 .sc_5_wrapper .sc_5_map .flexComands {
    width: 320px;
    height: 400px;
  }
  .flexComands {
    .user__content {
      .avatar__user {
        width: 80% !important;
      }
      .user__name {
        margin-left: 30px;
        font-size: 20px !important;
      }
      .text__user {
        margin-left: 30px !important;
        font-size: 15px !important;
        width: 80%;
      }
      .flex__skill {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 30px;
        width: 70% !important;
        .img__content {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (max-width: 337px) {
  .section__home_3 .sc__home__wrapper .sc_3_card_flex .card_1 {
    width: 250px;
  }
  .section__home_3 .sc__home__wrapper .sc_3_card_flex .card_1 .cardimg {
    width: 210px;
  }
}
